li a {
    color: green;
}li a {
    color: green;
}

body {
    background: white url("images/background.gif") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}